<!DOCTYPE html>
<html lang="en">
<%-include ('../partials/head.ejs', {estilo:'addproduct'})%>

    <body>
        <%-include ('../partials/header.ejs')%>
            <%-include ('../partials/nav-bar.ejs')%>
                <main>
                    <%-include ('../partials/button-top.ejs')%>
                        <section class="cargaproducto">
                            <h2>Carga de productos</h2>
                            <form action="/products" method="post" enctype="multipart/form-data" class="formulario">
                                <label for="name">Nombre del producto</label>
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto" />
                                <label for="description">Descripción del producto</label>
                                <textarea type="text" name="descripcion" id="descripcion"
                                    placeholder="* Descripcion del producto"></textarea>
                                <div class="imagen">
                                    <label for="imagen">Imagen del producto</label>
                                    <input type="file" name="imagen" id="imagen" />
                                    <div>
                                        <label for="colors">Color del producto</label>
                                        <input type="text" name="color" id="color" />
                                    </div>
                                </div>
                                <div>
                                    <label for="price">Precio del producto</label>
                                    <input type="text" name="precio" id="precio" />
                                </div>
                                <div>
                                    <label for="size">Talle del producto</label>
                                    <select id="taalle" name="talle">
                                        <% for( let i=0; i < talles.length; i++ ) { %>
                                            <option value="<%= talles[i].id %>">
                                                <%= talles[i].descripcion %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div>
                                    <label for="brand">Marca del producto</label>
                                    <select id="marca" name="marca">
                                        <% for( let i=0; i < marcas.length; i++ ) { %>

                                            <option value="<%= marcas[i].id %>">
                                                <%= marcas[i].descripcion %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="botones">
                                    <input class="boton-confirmar" type="submit" name="enviar" id="enviar"
                                        value="Confirmar" />
                                    <button type="reset" class="boton-reset">Borrar</button>
                                </div>
                            </form>
                        </section>
                </main>
    </body>
    <%-include ('../partials/footer.ejs')%>

</html>