<!DOCTYPE html>
<html lang="en">
    <%-include ('../partials/head.ejs', {estilo:'addproduct'})%>
    <body>
        <%-include ('../partials/header.ejs')%>
        <%-include ('../partials/nav-bar.ejs')%>
        <main>
            <%-include ('../partials/button-top.ejs')%>
            <section class="cargaproducto">
                <h2>
                Carga y Edición de productos
                </h2>
                <form action="" class="formulario">
                        <div class="opciones">
                            <div class="op">
                                <input
                                class="input"
                                type="radio"
                                name="cargar-editar"
                                id="carga"
                                value="carga"
                                /><label for="carga">Cargar</label>
                            </div>
                            <div class="op">
                                <input
                                class="input"
                                type="radio"
                                name="cargar-editar"
                                value="editar"
                                id="editar"
                                /><label for="editar">Editar</label>
                            </div>
                        </div>
                        <label for="nombre">Nombre del producto</label>
                    <input
                    type="text"
                    name="nombre"
                    id="nombre"
                    placeholder="* Nombre del producto"
                    />
                    <label for="descripcion">Descripción del producto</label>
                    <textarea
                    type="text"
                    name="descripcion"
                    id="descripcion"
                    placeholder="* Descripcion del producto"
                    ></textarea>
                    <div class="imagen">
                        <label for="imagen">Imagen del producto</label>
                        <input type="file" name="imagen" id="imagen" />
                    </div>
                    </div class="categoria">
                    <h3 class="titulocategoria">Categoria</h3>
                    <div class="categoria">
                    <div class="categoria-input">
                        <input type="radio" value="hombre" id="hombre" name="categoria"/><label for="hombre" >Hombre</label>
                    </div>
                    <div class="categoria-input">
                        <input type="radio" name="categoria" id=" mujer"value="mujer" /><label>Mujer</label>
                    </div>
                    <div class="categoria-input">
                        <input type="radio" name="categoria" value="ninos" id="ninos" /><label for="ninos">Niños<label>
                    </div>
                    </div>
                
                    <div class="botones">
                    <input class="boton-confirmar" type="submit" name="enviar" id="enviar" value="Confirmar" />
                    <button type="reset"class="boton-reset">Borrar</button>
                    </div>
                </form>
            </section>
        </main>
    </body>
    <%-include ('../partials/footer.ejs')%>
</html>