<!DOCTYPE html>
<html lang="en">
<%-include ('../partials/head.ejs', {estilo:'addproduct'})%>

    <body>
        <%-include ('../partials/header.ejs')%>
            <%-include ('../partials/nav-bar.ejs')%>
                <main>
                    <%-include ('../partials/button-top.ejs')%>
                        <section class="cargaproducto">
                            <h2>Carga de productos</h2>
                            <form action="/products" method="post" enctype="multipart/form-data" class="formulario" id="formulario">
                                <label for="nombre">Nombre del producto</label>
                                <input type="text" name="nombre" id="producto" placeholder="* Nombre del producto" />
                                <label for="descripcion">Descripción del producto</label>
                                <textarea type="text" name="descripcion" id="descripcion"
                                    placeholder="* Descripcion del producto"></textarea>
                                    <span id="charCounter">Faltan 20 caracteres para el mínimo requerido (20).</span>
                                <div class="imagen">
                                    <label for="imagen">Imagen del producto</label>
                                    <input type="file" name="imagen" id="imagen" />
                                    <div>
                                        <label for="color">Color del producto</label>
                                        <input type="text" name="color" id="color" />
                                    </div>
                                </div>
                                <div>
                                    <label for="precio">Precio del producto</label>
                                    <input type="text" name="precio" id="precio" />
                                </div>
                                <div>
                                    <label for="talle">Seleccione un talle:</label>
                                    <select name="talle" id="talle">
                                      <option value="" disabled selected>Seleccione un talle</option>
                                      <% talles.forEach(talle => { %>
                                        <option value="<%= talle.id %>"><%= talle.descripcion %></option>
                                      <% }) %>
                                    </select>
                                </div>
                                <div>
                                    <label for="marca">Marca del producto:</label>
                                    <select id="marca" name="marca">
                                        <option value="" disabled selected>Seleccion una marca</option>
                                        <% marcas.forEach(marca => { %>
                                            <option value="<%= marca.id %>"><%= marca.descripcion %></option>
                                        <% }) %>

                                          
                                    </select>
                                </div>
                                <div class="botones">
                                    <input class="boton-confirmar" type="submit" name="enviar" id="enviar"
                                        value="Confirmar" />
                                    <button type="reset" class="boton-reset">Borrar</button>
                                </div>
                            </form>
                        </section>
                </main>
    </body>
    <%-include ('../partials/footer.ejs')%>

</html>