<!DOCTYPE html>
<html lang="es">
    <%-include ('../partials/head.ejs', {estilo:'editproduct'})%>
    <body>
        <%-include ('../partials/header')%>
        <%-include ('../partials/nav-bar')%>
        <main>
            <%-include ('../partials/button-top')%>
            <nav class="product">
                <nav class="imagenes-productos">
                    <section class="img_product">
                        <img class="img_product-1" src="/images/products/<%= product.image%>" alt="" width="250px">
                    </section>
                </nav>
                <nav>
                    <section class="det_product">
                        <div class="descriptions">
                            <h2><%= product.name %></h2>
                            <p>Descripcion : <%= product.description %></p>
                            <p>Marca : <%= product.brand %></p>
                            <p>Talla : <%= product.size %></p>
                            <p>Color : <%= product.colors %></p>
                        </div>
                        <div class="n_article">
                        </div>
                        <div class="price">
                            <h4>$ <%=product.price%></h4>
                        </div>
                        <div class="botones">
                            <button><a href="/products/editproduct/<%= product.id %>">Editar</a></button>
                            <form method="POST" action="/products/detail/<%= product.id %>?_method=DELETE" style="display:inline;">
                                <button type="submit">Eliminar</button>
                            </form>
                        </div><br>
                        <p><i class="fa-regular fa-credit-card"></i><a href="/">Conoce las promociones</a></p>
                    </section>
                </nav>
            </nav>
        </main>
    </body>
    <%-include ('../partials/footer')%>
</html>