<!DOCTYPE html>
<html lang="es">
    <%-include ('../partials/head.ejs', {estilo:'producto'})%>
<body>
        <%-include ('../partials/header.ejs')%>
        <%-include ('../partials/nav-bar.ejs')%>
    <main>
        <%-include ('../partials/button-top.ejs')%>
        <nav class="product">
            <nav class="imagenes-productos">
                <section class="img_product">
                    <img class="img_product-1" src="../images/ADIU2142-1.jfif" alt="">
                    <img class="img_product-1" src="../images/ADIU2142-2.jfif" alt="">
                    <img class="img_product-1" src="../images/ADIU2142-3.jfif" alt="">
                    <img class="img_product-1" src="../images/ADIU2142-4.jfif" alt="">
            </nav>
            <nav>    
                </section>
            <section class="det_product"></section>
            <div class="descriptions">
                <h3>Remera Argentina adidas 2024 Hombre Algodón</h3>
            </div>
            <div class="n_article"> 
                <h6>Item No. ADIU2142</h6>
            </div>
            <div class="price">
                <h4>$49.999</h4>
            </div>
            <br>
            <p><i class="fa-regular fa-credit-card"></i><a href="/">Conoce las promociones</a></p>
        </nav>
        </nav>
    </main>
        <%-include ('../partials/footer.ejs')%>
</body>
</html>