<!DOCTYPE html>
<html lang="es">
<%-include ('../partials/head.ejs', {estilo:'editproduct'})%>

    <body>
        <%-include ('../partials/header.ejs')%>
            <%-include ('../partials/nav-bar.ejs')%>
                <main>
                    <%-include ('../partials/button-top.ejs')%>
                        <section class="cargaproducto">
                            <h2>Editar producto</h2>
                            <form action="/products/detail/<%= producto.id %>?_method=put" method="POST"
                                enctype="multipart/form-data" class="formulario">
                                <div>
                                    <label for="nombre">Nombre del Producto:</label>
                                    <input type="text" name="nombre" id="nombre"
                                        placeholder="* Nombre del pedidoProducto" value="<%= producto.nombre%>" />
                                </div>
                                <div>
                                    <label for="precio">Precio: </label>
                                    <input type="text" name="precio" id="precio" value="<%= producto.precio %>">
                                </div>
                                <div>
                                    <label for="color">Color: </label>
                                    <input type="text" name="color" id="color" value="<%= producto.color %>">
                                </div>
                                <div>
                                    <label for="marca">Marca: </label>
                                    <select name="marca" id="marca">
                                        <% for( let i=0; i < marcas.length; i++ ) { %>
                                            <option value="<%= marcas[i].id %>" <% if (talles[i].id===producto.id_marca)
                                                { %> selected <% } %> >
                                                    <%= marcas[i].descripcion %>
                                            </option>

                                            <% } %>
                                    </select>
                                </div>
                                <div>
                                    <label for="talle">Talle: </label>
                                    <select name="talle" id="talle">
                                        <% for( let i=0; i < talles.length; i++ ) { %>
                                            <option value="<%= talles[i].id %>" <% if (talles[i].id===producto.id_talle)
                                                { %> selected <% } %> >
                                                    <%= talles[i].descripcion %>
                                            </option>

                                            <% } %>
                                    </select>
                                </div>
                                <div>
                                    <label for="descripcion">Descripción del Producto:</label>
                                    <textarea type="text" name="descripcion"
                                        id="description"><%= producto.descripcion%></textarea>
                                </div>
                                <div>
                                    <label for="imagen">Cambiar imagen del Producto</label>
                                </div>
                                <div>
                                    <img src="/images/products/<%= producto.imagen %>" alt="" width="200px"><br>
                                </div>
                                <div>
                                    <input type="file" name="imagen" id="imagen" value="<%=producto.imagen%>" />
                                    <input type="hidden" name="currentImage" value="<%= producto.imagen %>">
                                </div><br>
                                <div class="style-div-botones">
                                    <a href="/products/editproduct/<%= producto.id %>">
                                        <button class="boton-confirmar" type="submit" name="enviar" id="enviar">
                                            Confirmar
                                        </button>
                                    </a>
                                    <a href="/products/detail/<%= producto.id %>">
                                        <button class="boton-cancelar" type="button">
                                            Cancelar
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </section>
                </main>
                <%-include ('../partials/footer.ejs')%>
    </body>

</html>