<!DOCTYPE html>
<html lang="es">
<%-include ('../partials/head.ejs', {estilo:'editproduct'})%>

    <body>
        <%-include ('../partials/header.ejs')%>
            <%-include ('../partials/nav-bar.ejs')%>
                <main>
                    <%-include ('../partials/button-top.ejs')%>
                        <section class="cargaproducto">
                            <h2>Editar producto</h2>
                            <form action="/products/detail/<%= pedidoProducto.id %>?_method=put" method="POST"
                                enctype="multipart/form-data" class="formulario">
                                <div>
                                    <label for="name">Nombre del pedidoProducto:</label>
                                    <input type="text" name="name" id="name" placeholder="* Nombre del pedidoProducto"
                                        value="<%= pedidoProducto.nombre%>" />
                                </div>
                                <div>
                                    <label for="price">Precio: </label>
                                    <input type="text" name="price" id="price" value="<%= pedidoProducto.precio %>">
                                </div>
                                <div>
                                    <label for="brand">Marca: </label>
                                    <input type="text" name="brand" id="brnad" value="<%= pedidoMarca.descripcion %>">
                                </div>
                                <div>
                                    <label for="colors">Color: </label>
                                    <input type="text" name="colors" id="colors" value="<%= pedidoProducto.color %>">
                                </div>
                                <div>
                                    <label for="size">Size: </label>
                                    <input type="text" name="size" id="size" value="<%= pedidoProducto.talle %>">
                                </div>
                                <div>
                                    <label for="description">Descripción del pedidoProducto:</label>
                                    <textarea type="text" name="description"
                                        id="description"><%= pedidoProducto.descripcion%></textarea>
                                </div>
                                <div>
                                    <label for="imagen">Cambiar imagen del pedidoProducto</label>
                                </div>
                                <div>
                                    <img src="/images/products/<%= pedidoProducto.imagen %>" alt="" width="200px"><br>
                                </div>
                                <div>
                                    <input type="file" name="imagen" id="imagen" value="<%=pedidoProducto.imagen%>" />
                                    <input type="hidden" name="currentImage" value="<%= pedidoProducto.imagen %>">
                                </div><br>
                                <div class="botones">
                                    <button class="boton-aceptar" type="submit" name="enviar"
                                        id="enviar">Confirmar</button>
                                    <button class="boton-cancelar" type="reset" class="boton-reset"
                                        onclick="cancelar()">Cancelar</button>
                                    <script>
                                        function cancelar() {
                                            window.location.href = `http://localhost:8080/products`; // Reemplaza con la URL a la que quieres redirigir
                                        }
                                    </script>
                                </div>
                            </form>
                        </section>
                </main>
                <%-include ('../partials/footer.ejs')%>
    </body>

</html>